.Search span {
  float: left;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  transform: scaleX(0.8);
  display: block;
}

.SearchForm {
  float: right;
  display: block;
}

.SearchForm input[type='submit'] {
  /* background-color: green; */
  cursor: pointer;
  color: #28a745;
  background-color: transparent;
  /* border-color: #28a745; */
  padding: 5px 10px;
  line-height: 1.5;
  border-radius: 5px;
  outline: none;
  border: 1px solid #28a745;
  margin: 0 5px;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.SearchForm input[type='submit']:hover {
  color: white;
  background-color: #28a745;
}
